PORT=5003
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.xxxxx.mongodb.net/codveda_mern?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:5174
NODE_ENV=development
